# build artefacts
*.o
*.mod
*.smod
*.a
*.dSYM/
build/

# exercise binaries
01_fortran_mpi_halo_1d/halo1d
02_fortran_omp_reduction/omp_reduce
03_hybrid_mpi_omp/hybrid
04_c_fortran_interop/interop
05_icosahedral_grid/icogrid
06_unstructured_halo/uhalo
07_partitioning/partition
08_nproma_blocking/nproma
09_mpmd_components/mpmd
10_conservative_remap/remap
11_sphere_interpolation/sphere_interp
12_coupling_timestep_lag/multirate
13_scaling_harness/scaling
14_stencil_roofline/stencil
15_pmpi_profiler/victim_profiled
15_pmpi_profiler/victim_bare
16_load_imbalance/imbalance
17_openmp_target/omp_target
18_openacc_port/acc_port
19_gpu_aware_mpi_halo/gpu_halo
20_parallel_io/pario
22_regression_harness/model
23_add_new_component/icesheet
24_mini_esm_capstone/mini_esm
*_profiled
*_gpu
*_nv

# generated output
*.ppm
*.png
*.csv
*.bin
*.bin.*
job_scaling.sh
out_rank_*.bin
out_indep.bin
out_coll.bin
out_gather.bin
state.txt
cont.txt
rst.txt
c.txt
r.txt
s.txt
